<% players.each do |rank, players_array| %>
  <tbody class="by-rank" id="<%= rank %>">
<% players_array.each_with_index do |player, i| %>
  <tr class="ladder">
    <td class="rank"><%= i + 1 %></td>
  <td class="name"><%= link_to player.name, player_path(summoner_id: player.summoner_id) %></td>
  <td class="emblems">
    <div class="emblems veteran<%= ' active' if player.is_veteran %>" title="Veteran"></div>
    <div class="emblems winstreak<%= ' active' if player.is_hot_streak %>" title="Hot Streak"></div>
    <div class="emblems freshblood<%= ' active' if player.is_fresh_blood %>" title="Fresh Blood"></div>
  </td>
  <td class="wins"><%= player.wins %></td>
  <td class="points"><%= points_for(player) %></td>
</tr>
<% end %>
</tbody>
<% end %>
