<div class="col-md-8">
  <div class="content-container clearfix">
    <div class="header">Leagues</div>
    <div class="league col-md-12">
      <div class="row">
        <div class="col-md-2">
          <div class="league-icon">
            <%= image_tag "medals/#{@league.tier.downcase}_1.png", class: 'img-responsive center-block' %>
          </div>
        </div>
        <div class="col-md-8 clearfix">
          <div class="description">
            <p class="name"><%= @league.name %></p>
            <p class="tier"><%= @league.tier.capitalize %></p>
          </div>
        </div>
        <div class="col-md-1">
          <% unless @league.tier == "CHALLENGER" %>
            <div class="division">
            <div class="btn-group">
              <button type="button" class="btn dropdown-toggle" id="btn" data-toggle="dropdown">
                I <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu">
                <li><a>I</a></li>
                <li><a>II</a></li>
                <li><a>III</a></li>
                <li><a>IV</a></li>
                <li><a>V</a></li>
              </ul>
            </div>
          </div>
        <% end %>
        </div>
      </div>
    </div>
    <table class="ladder">
      <thead>
        <tr>
          <th class="col-md-1">Rank</th>
          <th class="col-md-4">Summoner</th>
          <th class="col-md-3">Emblems</th>
          <th class="col-md-1">Wins</th>
          <th class="col-md-3">Points</th>
        </tr>
      </thead>
      <%= render 'table', players: @players %>
    </table>
  </div>
</div>
<div class="col-md-4">
  <%= render 'stats_sidebar' %>
  <%= render 'right_ad_bot' %>
</div>
