<div class="col-md-8">
  <div class="content-container clearfix">
    <div class="header">Test</div>
    <div class="region-picker pull-right">
      Some Region Dropdown
    </div>
    <table class="ladder">
      <thead>
        <tr>
          <th class="col-md-2">Rank</th>
          <th class="col-md-3">Summoner</th>
          <th class="col-md-3">Tier</th>
          <th class="col-md-2">Wins</th>
          <th class="col-md-2">Points</th>
        </tr>
      </thead>
      <tbody>
      <% @players.each do |player| %>
        <tr class="ladder">
          <td class="rank"><%= player.rank %></td>
        <td class="name"><%= player.name %></td>
        <td class="tier"><%= player.tier %></td>
        <td class="wins"><%= player.wins %></td>
        <td class="points"><%= player.league_points %></td>
      </tr>
    <% end %>
      </tbody>
    </table>
    <div class="col-md-12 ladder-pagination">
      <a href="#" class="ladder-nav-button pull-left">Prev</a>
      <a href="#" class="ladder-nav-button pull-right">Next</a>
    </div>
  </div>
</div>
<div class="col-md-4">
  <div class="content-container">
    <div class="header">Stats and Stuff</div>
  </div>
</div>
