<% content_for :title do %><%= Region.name(params[:region]) %> Rankings<% end %>
<div class="col-md-8">
  <div class="content-container clearfix">
    <div class="header">Solo Queue Ladder</div>
    <%= render 'region_picker' %>
    <table class="ladder">
      <thead>
        <tr>
          <th class="col-md-1">Region</th>
          <th class="col-md-2">Rank</th>
          <th class="col-md-3">Summoner</th>
          <th class="col-md-3">Tier</th>
          <th class="col-md-2">Wins</th>
          <th class="col-md-1">Points</th>
        </tr>
      </thead>
      <tbody>
      <% @players.each do |player| %>
        <% rank = player.ladder + 1 %>
      <tr class="ladder">
        <td class="region"><%= player.region.upcase %></td>
        <td class="rank"><%= number_with_delimiter(rank) %> (<%= percentage_for(params[:region], rank) %>%)</td>
        <td class="name"><%= link_to player.name, league_path(region: player.region, id: player.league_id) %></td>
        <td class="tier"><%= "#{player.tier.capitalize} #{player.division}" %></td>
        <td class="wins"><%= player.wins %></td>
        <td class="points"><%= number_with_delimiter(player.league_points) %></td>
      </tr>
    <% end %>
      </tbody>
    </table>
    <div class="col-md-12 ladder-pagination">
      <%= link_to 'Prev', ladder_path(region: params[:region], page: params[:page] - 1), class: 'ladder-nav-button pull-left' if prev_page? %>
      <%= link_to 'Next', ladder_path(region: params[:region], page: params[:page] + 1), class: 'ladder-nav-button pull-right' if next_page? %>
    </div>
  </div>
</div>
<div class="col-md-4">
  <%= render 'stats_sidebar' %>
  <%= render 'right_ad_bot' %>
</div>
