<% content_for :title do %><%= @player.name %>, <%= name_for_region(@player.region) %><% end %>
<div class="col-md-8">
  <div class="content-container clearfix">
    <div class="header" id="update-value" data-update="<%= @update %>" data-name="<%= @player.summoner_id %>" data-region="<%= @player.region %>"><%= @player.name %></div>
    <div class="ratings">
      <div class="col-md-4">
        <div class="rating">
          <div class="queue-type">Team 3v3</div>
          <div class="points">
            Unavailable
          </div>
          <%= image_tag 'placing.png', class: 'img-responsive center-block' %>
        </div>
      </div>
      <div class="col-md-4">
        <div class="rating clearfix">
          <div class="queue-type">Solo Queue</div>
          <div class="points">
            <% if @player.player_league %>
              <div class="col-md-12"><strong><%= "#{@player.player_league.tier.capitalize} #{@player.player_league.division}" %></strong></div>
              <div class="col-md-12"><%= @player.league_points %> LP</div>
            <% else %>
              Not Ranked
            <% end %>
          </div>
          <%= image_tag "medals/#{@player.tier.downcase}_#{roman_to_numeral(@player.division)}.png", class: 'img-responsive center-block' if @player.player_league %>
          <%= image_tag 'placing.png', class: 'img-responsive center-block' unless @player.player_league %>
          <% if @player.player_league %>
            <div class="rank">
              <div class="col-md-6">
                <div class="title"><%= @player.region.upcase %></div>
                <% rank_region = rank_for(@player.region, @player) %>
                <%= number_with_delimiter(rank_region) %> (<%= percentage_for(@player.region, rank_region) %>%)
              </div>
              <div class="col-md-6">
                <div class="title"><%= name_for_region('all') %></div>
                <% rank_all = rank_for('all', @player) %>
                <%= number_with_delimiter(rank_all) %> (<%= percentage_for('all', rank_all) %>%)
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <div class="col-md-4">
        <div class="rating">
          <div class="queue-type">Team 5v5</div>
          <div class="points">
            Unavailable
          </div>
          <%= image_tag 'placing.png', class: 'img-responsive center-block' %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-md-4">
  <div class="content-container profile-nav clearfix">
    <ul>
      <li class="active"><span class="glyphicon glyphicon-home"></span> Profile</li>
      <% if @player.player_league %><li><%= link_to '<span class="glyphicon glyphicon-signal"></span> League'.html_safe, league_path(region: @player.region, id: @player.player_league.league_id) %></li><% end %>
    </ul>
  </div>
</div>
