<% content_for :title do %>League of Legends Stats and Rankings<% end %>
<div class="col-md-8">
	<% @posts.each do |entry| %>
		<div class="news<%= ' type-2' if entry.id.even? %>"> 
		<div class="ribbon">
			<div class="rib beg"></div>
			<div class="rib cont"><%= time_ago_in_words(entry.created_at) %> ago</div>
			<div class="rib end"></div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="top-border"></div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="title"><%= link_to entry.title, entry %></div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 content"> 
			<%= entry.body.html_safe %>
			</div>
		</div>
	</div>
<% end %>
	<div class="col-md-12 posts-pagination">
		<%= will_paginate @posts %>
	</div>
</div>
<div class="col-md-4">
	<div class="top-players">
		<div class="row">
			<h1 class="col-md-12">Top 10 Players</h1>
		</div>
		<div class="row">
			<table class="col-md-12">
				<thead>
					<tr>
						<th class="col-md-2">Region</th>
						<th class="col-md-2">Rank</th>
						<th class="col-md-6">Summoner</th>
						<th class="col-md-2">Points</th>
					</tr>
				</thead>
				<tbody>
				<% @players.each do |player| %>
					<tr> 
					<td><%= player.region.upcase %></td>
					<td class="rank"><%= player.ladder + 1 %></td>
					<td class="name"><%= link_to player.name, player_path(region: player.region, summoner_id: player.summoner_id) %></td>
					<td class="points"><%= player.league_points %></td>
				</tr>
			<% end %>
				<% if @players.count == 0 %>
					<tr>
					<td colspan="4">No Players Found</td>
				</tr>
			<% end %>
				</tbody>
			</table>
		</div>
	</div>
</div>
