<div class="content-container clearfix">
  <div class="header">
    Statistics
  </div>
  <% stats = get_stats(params[:region]) %>
  <% unless stats['total'] == 0 %>
    <table class="col-md-12 ladder">
    <thead>
      <tr>
        <th class="col-md-7">Tier</th>
        <th class="col-md-5">Count</th>
      </tr>
    </thead>
    <tbody>
    <tr>
      <td class="name">Bronze</td>
      <td><%= number_with_delimiter(stats['bronze']['total']) %> (<%= percentage_for(params[:region], stats['bronze']['total']) %>%)</td>
    </tr>
    <tr>
      <td class="name">Silver</td>
      <td><%= number_with_delimiter(stats['silver']['total']) %> (<%= percentage_for(params[:region], stats['silver']['total']) %>%)</td>
    </tr>
    <tr>
      <td class="name">Gold</td>
      <td><%= number_with_delimiter(stats['gold']['total']) %> (<%= percentage_for(params[:region], stats['gold']['total']) %>%)</td>
    </tr>
    <tr>
      <td class="name">Platinum</td>
      <td><%= number_with_delimiter(stats['platinum']['total']) %> (<%= percentage_for(params[:region], stats['platinum']['total']) %>%)</td>
    </tr>
    <tr>
      <td class="name">Diamond</td>
      <td><%= number_with_delimiter(stats['diamond']['total']) %> (<%= percentage_for(params[:region], stats['diamond']['total']) %>%)</td>
    </tr>
    <tr>
      <td class="name">Challenger</td>
      <td><%= number_with_delimiter(stats['challenger']['total']) %> (<%= percentage_for(params[:region], stats['challenger']['total']) %>%)</td>
    </tr>
    <tr>
      <td class="name">Total</td>
      <td><%= number_with_delimiter(stats['total']) %></td>
    </tr>
    </tbody>
  </table>
<% end %>
</div>
