<% content_for :title do %><%= Region.name(params[:region]) %> Stats<% end %>
<div class="col-md-8">
  <div class="content-container clearfix">
    <div class="header">Solo Queue Stats</div>
    <%= render 'region_picker' %>
    <div class="chart-container" id="chart">
    </div>
  </div>
</div>
<div class="col-md-4">
  <%= render 'stats_sidebar' %>
</div>
<script type="text/javascript">
var chart = new CanvasJS.Chart('chart', {
theme: null,
data: [
{
type: 'column',
toolTipContent: '{y}',
dataPoints: [
{ label: 'Bronze', indexLabel: 'V', y: <%= @stats['bronze']['V'] %>, color: '#645b1c' },
{ label: 'Bronze', indexLabel: 'IV', y: <%= @stats['bronze']['IV'] %>, color: '#645b1c' },
{ label: 'Bronze', indexLabel: 'III', y: <%= @stats['bronze']['III'] %>, color: '#645b1c' },
{ label: 'Bronze', indexLabel: 'II', y: <%= @stats['bronze']['II'] %>, color: '#645b1c' },
{ label: 'Bronze', indexLabel: 'I', y: <%= @stats['bronze']['I'] %>, color: '#645b1c' },
{ label: 'Silver', indexLabel: 'V', y: <%= @stats['silver']['V'] %>, color: '#cccccc' },
{ label: 'Silver', indexLabel: 'IV', y: <%= @stats['silver']['IV'] %>, color: '#cccccc' },
{ label: 'Silver', indexLabel: 'III', y: <%= @stats['silver']['III'] %>, color: '#cccccc' },
{ label: 'Silver', indexLabel: 'II', y: <%= @stats['silver']['II'] %>, color: '#cccccc' },
{ label: 'Silver', indexLabel: 'I', y: <%= @stats['silver']['I'] %>, color: '#cccccc' },
{ label: 'Gold', indexLabel: 'V', y: <%= @stats['gold']['V'] %>, color: '#b19f07' },
{ label: 'Gold', indexLabel: 'IV', y: <%= @stats['gold']['IV'] %>, color: '#b19f07' },
{ label: 'Gold', indexLabel: 'III', y: <%= @stats['gold']['III'] %>, color: '#b19f07' },
{ label: 'Gold', indexLabel: 'II', y: <%= @stats['gold']['II'] %>, color: '#b19f07' },
{ label: 'Gold', indexLabel: 'I', y: <%= @stats['gold']['I'] %>, color: '#b19f07' },
{ label: 'Platinum', indexLabel: 'V', y: <%= @stats['platinum']['V'] %>, color: '#007a7c' },
{ label: 'Platinum', indexLabel: 'IV', y: <%= @stats['platinum']['IV'] %>, color: '#007a7c' },
{ label: 'Platinum', indexLabel: 'III', y: <%= @stats['platinum']['III'] %>, color: '#007a7c' },
{ label: 'Platinum', indexLabel: 'II', y: <%= @stats['platinum']['II'] %>, color: '#007a7c' },
{ label: 'Platinum', indexLabel: 'I', y: <%= @stats['platinum']['I'] %>, color: '#007a7c' },
{ label: 'Diamond', indexLabel: 'V', y: <%= @stats['diamond']['V'] %>, color: '#7abaee' },
{ label: 'Diamond', indexLabel: 'IV', y: <%= @stats['diamond']['IV'] %>, color: '#7abaee' },
{ label: 'Diamond', indexLabel: 'III', y: <%= @stats['diamond']['III'] %>, color: '#7abaee' },
{ label: 'Diamond', indexLabel: 'II', y: <%= @stats['diamond']['II'] %>, color: '#7abaee' },
{ label: 'Diamond', indexLabel: 'I', y: <%= @stats['diamond']['I'] %>, color: '#7abaee' },
{ label: 'Challenger', indexLabel: 'I', y: <%= @stats['challenger']['I'] %>, color: '#000' }
]
}
]
});

chart.render();
</script>
