<!DOCTYPE html>
<html lang="en">
<head>
<title>League of Legends Stats and Rankings | LOL Summoners</title>
<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
<%= stylesheet_link_tag    params[:controller], media: "all", "data-turbolinks-track" => true %>
<link href='http://fonts.googleapis.com/css?family=Fenix' rel='stylesheet' type='text/css'>
<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
<%= javascript_include_tag params[:controller] %>
<%= csrf_meta_tags %>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="container">
  <div class="row">
    <div class="wrapper hidden-xs">
      <%= image_tag('banner.png', class: 'col-md-12 visible-lg') %>
      <%= image_tag('banner-940.png', class: 'col-md-12 visible-md') %>
      <%= image_tag('banner-720.png', class: 'col-md-12 visible-sm') %>
    </div>
  </div>
</div>
<div class="container">
  <div class="surround">
    <nav class="navbar">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse" id="menu">
        <ul class="nav navbar-nav">
          <li><a href="/">Home</a></li>
          <li><a href="/ladders/all">Ladders</a></li>
          <li><a href="/stats">Stats</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
        <%= form_tag '/search', method: 'get', class: 'navbar-form navbar-right clearfix', id: 'search' do %>
          <%= select_tag 'region', options_for_select(REGIONS.collect {|n, _| [n.upcase, n] }), class: 'search' %>
          <%= text_field_tag 'name', nil, class: 'search', placeholder: 'Find Summoner...' %>
          <%= submit_tag '', class: 'submit', id: 'submit' %>
        <% end %>
      </div>
      <div class="arrow-bar">
        <div class="arrow hidden-xs"></div>
      </div>
    </nav>
    <section class="row">
      <div class="col-md-12">
        <%= yield %>
      </div>
    </section>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="wrapper hidden-xs">
      <footer class="col-md-12">
        <h1>&copy; LOL Summoners 2013</h1>
        <p>
        <a href="#">Privacy Policy</a>
        &dash;
        <a href="#">Contact</a>
        </p>
      </footer>
    </div>
  </div>
</div>
</body>
</html>
