<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title><%= yield :title %> | LOL Summoners</title>
<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
<%= stylesheet_link_tag    params[:controller], media: "all", "data-turbolinks-track" => true %>
<link href='http://fonts.googleapis.com/css?family=Fenix' rel='stylesheet' type='text/css'>
<script src="//js.pusher.com/2.2/pusher.min.js"></script>
<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
<%= javascript_include_tag params[:controller] %>
<%= csrf_meta_tags %>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<%=raw humane_flash_messages %>
<div class="container">
  <div class="row">
    <div class="wrapper hidden-xs">
      <%= image_tag('banner.png', class: 'col-md-12 visible-lg') %>
      <%= image_tag('banner-940.png', class: 'col-md-12 visible-md') %>
      <%= image_tag('banner-720.png', class: 'col-md-12 visible-sm') %>
    </div>
  </div>
</div>
<div class="container">
  <div class="surround">
    <nav class="navbar">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse" id="menu">
        <ul class="nav navbar-nav">
          <li><%= link_to 'Home', root_path %></li>
          <li><%= link_to 'Ladders', ladders_path %></li>
          <li><%= link_to 'Stats', stats_path %></li>
          <li><%= link_to 'Contact', new_contact_path %></li>
        </ul>
        <% region_id = REGIONS.detect { |k, _| k == session[:region] } %>
        <%= form_tag '/search', method: 'get', class: 'navbar-form navbar-right clearfix', id: 'search' do %>
          <%= select_tag 'region', options_for_select(REGIONS.collect {|n, _| [n.upcase, n] }, region_id), class: 'search' %>
        <%= text_field_tag 'name', nil, class: 'search', placeholder: 'Find Summoner...' %>
        <%= submit_tag '', class: 'submit', id: 'submit' %>
      <% end %>
      </div>
      <div class="arrow-bar">
        <div class="arrow <%= controller_name %> hidden-xs"></div>
      </div>
    </nav>
    <section class="row">
      <div class="col-md-12">
        <%= yield %>
      </div>
    </section>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="wrapper hidden-xs">
      <footer class="col-md-12">
        <h1>&copy; LOL Summoners 2013</h1>
        <p>
        <a href="#">Privacy Policy</a>
        &dash;
        <a href="#">Contact</a>
        </p>
      </footer>
    </div>
  </div>
</div>
<script type="text/javascript"> 
var $buoop = {vs:{i:9,f:10,o:15,s:5.1,n:9}}; 
$buoop.ol = window.onload; 
window.onload=function(){ 
  try {if ($buoop.ol) $buoop.ol();}catch (e) {} 
  var e = document.createElement("script"); 
  e.setAttribute("type", "text/javascript"); 
  e.setAttribute("src", "//browser-update.org/update.js"); 
  document.body.appendChild(e); 
} 
</script> 
<script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-37352294-1']);
_gaq.push(['_trackPageview']);
(function() {
 var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
 ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
 var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
 })();
</script>
</body>
</html>
